DISCORD_TOKEN=

ATTACHMENT_SPAM_THRESHOLD=25
ATTACHMENT_DUPLICATE_THRESHOLD=3
ATTACHMENT_WINDOW_SECONDS=15
ATTACHMENT_FINGERPRINT_FULL_MAX_BYTES=2097152
ATTACHMENT_FINGERPRINT_PARTIAL_BYTES=262144
ATTACHMENT_FINGERPRINT_TIMEOUT_MS=2500
ATTACHMENT_FINGERPRINT_MAX_PER_MESSAGE=4
ATTACHMENT_FINGERPRINT_CONCURRENCY=8

SENTRY_DATA_SOURCE_NAME=
